<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{{ title }}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" >
	<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/ac_control';
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io(namespace);
            
            var id1_min = $("#temp1_min_temp").val() || null;
            var id1_max = $("#temp1_max_temp").val() || null;
            var id2_min = $("#temp2_min_temp").val() || null;
            var id2_max = $("#temp2_max_temp").val() || null;
            var id3_min = $("#temp3_min_temp").val() || null;
            var id3_max = $("#temp3_max_temp").val() || null;
            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function(msg) {
                // $('#log').text( msg.data);
            //   socket.emit('temp_updated', '22', 'v2temp1');                
                socket.emit('rerun_ac_control', id1_min, id1_max, id2_min, id2_max, id3_min, id3_max);
            });
            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('temp_response', function(msg, cb) {
                console.log(msg)
                $('#' + msg.temp_id + '_current h4').find('span').text(msg.data);
                // if (cb)
                //     cb();
                sleep(200)
                socket.emit('rerun_ac_control', id1_min, id1_max, id2_min, id2_max, id3_min, id3_max);
            });
            
            socket.on('compressor_response', function(msg, cb) {
                console.log(msg)
                if (msg.data != '') {
                    $('#' + msg.temp_id + '_compressor').find('span').text(msg.data);
                    $('#' + msg.temp_id + '_wrapper').addClass("status-" + msg.data.toLowerCase());
                }
                // if (cb)
                //     cb();
            });            
            
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });
        });

        function sleep(ms) {
            console.log("sleep " + ms )
            return new Promise(resolve => setTimeout(resolve, ms));
        }
    </script>

</head>
<body>

    {% set messages = get_flashed_messages() %}
    {% if messages %}
        <section>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </section>
    {% endif %}
    <section>
        {% block content %}{% endblock %}
    </section>
    <footer>
        <p>{{constants.APP_NAME}} - Version: {{ constants.AC_CONTROL_VERSION }}</p>
    </footer>
</body>
</html>